$white: #fff !default;
$blue: #1f8ecd !default;
$red: #c6443e !default;

$gray-500: #879292 !default;
$gray-600: #666 !default;
$gray-700: #555e5e !default;
$gray-800: #555 !default;
$gray-900: #333 !default;

/* 자주 사용하는 박스 */
$box-bg: #f2f2f2 !default;
$box-border: #cdd2d2 !default;
$box-shadow: #dcdfdf !default;

/* 소환사 시즌 뱃지 */
$summoner-font-black: #242929 !default;
$summoner-badge-bg: #e0e3e3 !default;
$summoner-badge-border: #ced3d3 !default;

/* 매치 아이템 */
$match-font-black: #353a3a !default;

$match-win-bg: #a3cfec !default;
$match-win-border: #99b9cf !default;

$match-lose-bg: #e2b6b3 !default;
$match-lose-border: #cea7a7 !default;

$match-badge-multikill-bg: #ee5a52 !default;
$match-badge-multikill-border: #c6443e !default;
$match-badge-ace-bg: #8c51c5 !default;
$match-badge-ace-border: #7f3590 !default;
