.match-stats-summary {
  width: 270px;
  padding: 16px 0 24px 14px;

  &__title {
    font-size: 12px;
    color: #666;
    padding-bottom: 12px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__graph-container {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__graph {
    position: absolute;
  }

  &__win-rate {
    font-size: 14px;
    color: #555;
  }

  &__detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__kda {
    font-size: 11px;
    font-weight: bold;
    color: #879292;
    display: flex;
  }

  &__kill,
  &__death,
  &__assist {
    margin: 0 2px;
  }

  &__kill,
  &__assist {
    color: #555e5e;
  }

  &__death {
    color: #c6443e;
  }

  &__score {
    display: flex;
    align-items: center;
    padding-top: 7px;
  }

  &__kda-ratio {
    font-size: 16px;
    color: #353a3a;
  }

  &__ck-rate {
    font-size: 16px;
    color: #c6443e;
    margin-left: 2px;
  }
}
