.match-stats-position {
  display: flex;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &__icon {
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-img {
    width: 28px;
    height: 28px;
    background-size: cover;

    &--top {
      background-image: url("~/static/images/position/top.png");
    }

    &--jungle {
      background-image: url("~/static/images/position/jug.png");
    }

    &--support {
      background-image: url("~/static/images/position/sup.png");
    }

    &--bottom {
      background-image: url("~/static/images/position/adc.png");
    }

    &--middle {
      background-image: url("~/static/images/position/mid.png");
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }

  &__name {
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
  }

  &__detail {
    display: flex;
  }

  &__role-rate {
    font-size: 11px;
    color: #1f8ecd;
  }

  &__win-ratio {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #666;

    &::before {
      content: "";
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;
      width: 1px;
      height: 11px;
      background: #e0e3e3;
    }
  }
}
