.match-stats-most-position {
  padding: 16px 0 14px 20px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 12px;
    color: #666;
    padding-bottom: 12px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}
